@font-face {
  font-family: "KlarheitGroteskBook";
  src: url("fonts/ESKlarheitGrotesk-Bk.woff2");
}

@font-face {
  font-family: "KlarheitGroteskSemiBold";
  src: url("fonts/ESKlarheitGrotesk-Smbd.woff2");
}

@font-face {
  font-family: "KlarheitGroteskExtraBold";
  src: url("fonts/ESKlarheitGrotesk-Xbd.woff2");
}


.full-size {
  height: 100%;
  width: 100%;
}

.pos-abs {
  position: absolute;
}

.left-0 {
  left: 0px
}

.top-0 {
  top: 0px
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.z-index1 {
  z-index: 1;
}

.z-index2 {
  z-index: 2;
}

img {
  max-width: 100%;
}

#container {
  position: absolute;
  width: 300px;
  height: 250px;
  overflow: hidden;
  opacity: 0;
  font-family: "KlarheitGroteskExtraBold", sans-serif;
  color: #0000aa;
}

#default_exit {
  z-index: 100;
  cursor: pointer;
}

.copy {
  position: absolute;
  left: 20px;
  top: 18px;
  font-size: 23px;
  letter-spacing: -0.5px;
  line-height: 0.975;
  color: #0000aa;
  font-family: "KlarheitGroteskExtraBold", sans-serif;
  transition: all 0.1s;
}

.copy .medium {
  font-size: 43px;
  margin-top: 7px;
  margin-right: 5px;
}

.copy .big {
  font-size: 66px;
  margin-left: -2px;
}

.copy .big2 {
  font-size: 75px;
  display: flex;
  margin-bottom: -5px;
}

.copy sup {
  font-size: 10px;
  margin-right: -3px;
}

.terms {
  right: 13px;
  top: 226px;
  font-size: 7px;
  letter-spacing: -0.6px;
  color: #0000aa;
  /* font-family: "KlarheitGroteskBook", sans-serif; */
  font-family: "KlarheitGroteskExtraBold", sans-serif;
}

#endframe {
  top: calc(100% - 11px);
  background-color: #ffffff;
  display: block;
  z-index: 5;
  transition: all 0.1s;
}

#endframe .terms {
  top: 185px;
  letter-spacing: -0.45px;
}

#endframe .copy {
  top: 29px;
  font-size: 26px;
  color: #0000aa;
}

#endframe .copy span {
  color: #fc3388;
}

.pink-bar {
  width: 100%;
  height: 11px;
  background-color: #fc3388;
}

.card_wrpr {
  top: -42px;
}

#shine {
  top: 140px;
  left: 152px;
  width: 136px;
  height: 85px;
  background-image: url(./images/shine.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: -120px -20px;
  mix-blend-mode: soft-light;
}

.cta {
  text-align: center;
  transform-origin: center;
  border-radius: 4px;
  background: #fc3388;
  color: #fff;
  font-family: "KlarheitGroteskSemiBold", sans-serif;
  font-size: 11px;
  top: 98px;
  left: 19px;
  width: 98px;
  height: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
}