@font-face {
  font-family: "KlarheitGroteskBook";
  src: url("fonts/ESKlarheitGrotesk-Bk.woff2");
}

@font-face {
  font-family: "KlarheitGroteskSemiBold";
  src: url("fonts/ESKlarheitGrotesk-Smbd.woff2");
}

@font-face {
  font-family: "KlarheitGroteskExtraBold";
  src: url("fonts/ESKlarheitGrotesk-Xbd.woff2");
}


.full-size {
  height: 100%;
  width: 100%;
}

.pos-abs {
  position: absolute;
}

.left-0 {
  left: 0px
}

.right-0 {
  right: 0px
}

.top-0 {
  top: 0px
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.z-index1 {
  z-index: 1;
}

.z-index2 {
  z-index: 2;
}

img {
  max-width: 100%;
}

#container {
  position: absolute;
  width: 728px;
  height: 90px;
  overflow: hidden;
  opacity: 0;
  font-family: "KlarheitGroteskExtraBold", sans-serif;
  color: #ffffff;
}

#default_exit {
  z-index: 100;
  cursor: pointer;
}

.copy {
  position: absolute;
  left: 23px;
  top: 25px;
  font-size: 24px;
  letter-spacing: -0.35px;
  line-height: 1;
  color: #ffffff;
  font-family: "KlarheitGroteskExtraBold", sans-serif;
  transition: all 0.1s;
}

.terms {
  top: 78px;
  right: 143px;
  font-size: 7px;
  letter-spacing: -0.4px;
  color: #0000aa;
  font-family: "KlarheitGroteskBook", sans-serif;
}

#endframe {
  right: calc(100% - 9px);
  background-color: #ffffff;
  display: block;
  z-index: 5;
  transition: all 0.1s;
}

/* #endframe .terms {
  top: 77px;
  right: 143px;
} */

#endframe .copy {
  color: #0000aa;
  font-size: 23px;
  left: 40px;
  top: 18px;
  letter-spacing: 0.6px;
  line-height: 1.2;
}

#endframe .copy span {
  color: #fc3388;
}

.pink-bar {
  height: 100%;
  width: 10px;
  background-color: #fc3388;
}

/* .card_wrpr {
  left: 139px;
} */

#shine {
  top: 13px;
  left: 481px;
  width: 105px;
  height: 65px;
  background-image: url(./images/shine.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: -100px -15px;
  mix-blend-mode: soft-light;
}

.cta {
  text-align: center;
  transform-origin: center;
  border-radius: 4px;
  background: #fc3388;
  color: #fff;
  font-family: "KlarheitGroteskSemiBold", sans-serif;
  font-size: 11px;
  top: 29px;
  left: 320px;
  width: 92px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}